@import "tailwindcss";

.swiper-pagination-bullet {
  background: #9ca3af;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #facc15;
  width: 18px;
  border-radius: 10px;
}


/* Hide scrollbar for categories কিন্তু scroll থাকবে */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 12s linear infinite;
}